body{
    background: #eeeeee;
}

#tudo{
    width: 1000px;
    margin: 50px auto;
}

.bloco1{
    width: 600px;
    text-align: center;
    display: inline-block;
}


.bloco2{
    width: 400px;
    height: 500px;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 52px;
}


#area{
    border: 8px  groove #007bff;
    background: white;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    height: 500px;
    width: 500px;
    box-sizing: content-box;

}

#quadrado{
    background: green;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#setasLadoEsq{
    position: absolute;
    left: 0%;
    top: 10%;
    
}

#setasLadoEsq:hover{
    cursor: pointer;
}

#setasLadoDir{
    position: absolute;
    right: 0%;

    display: inline-block;
}

#setasLadoDir:hover{
    cursor: pointer;
}

#placar{
    width: 400px;
    border: 8px  groove #007bff;
    text-align: center;
    border-radius: 10px;
    background: white;
}

#nomeRecord, #pontosRecord{
    font-size: 1.2em;    
}

h3, .description{
    
    margin: 0px;
    padding: 8px;
}

h3{
    text-shadow:#000 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px
}

.description{
    font-weight: bold;
}

#gameOver{
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    position: relative;
    top: 180px;
    display: none;
}

#pressSpace{
    display: inline-block;
    font-size: 1.7em;
    font-weight: bold;
    position: relative;
    top: 180px;
}